<!-- <!DOCTYPE html> -->
<html>
<head>
  <title>BREAD</title>
  <link rel="stylesheet" href="/style.css"> <!-- Update the path to the CSS file -->

</head>
<body>
  <h1>BREAD (Browse.Read,Edit,Add,Delete)</h1>
  <ul style="list-style-type: none;">
    <li style="margin-bottom: 20px;"><a href="/browse" class="btn success">Browse Data</a></li>
    <li><a href="/add" class="btn info">Add Data</a></li>
</ul>

  <h2>Filter</h2>
  
  <div class="table">
    <table id ="table">
      <tr>
        <th>ID</th>
        <th>String</th>
        <th>Integer</th>
        <th>Float</th>
        <th>Date</th>
        <th>Boolean</th>
      </tr>

      
      <% data.forEach((entry, index) => { %>
        <tr class="<%= index % 2 === 0 ? 'even' : 'odd' %>">
          <td><%= entry.id %></td>
          <td><%= entry.string %></td>
          <td><%= entry.integer %></td>
          <td><%= entry.float %></td>
          <td><%= entry.date %></td>
          <td><%= entry.boolean %></td>
          <!-- <td>
            <form action="/edit/<%= entry.id %>" method="GET" class="inline-form">
             <input type="text" name="edit-field" placeholder="Edit field" required> -->
              <!-- <button type="submit" class="button button-primary">Edit</button>
            </form>
            <form action="/delete/<%= entry.id %>" method="POST" class="inline-form">
              <button type="submit" class="button button-secondary">Delete</button>
            </form>
          </td> --> 
        </tr>
      <% }); %>
    </table>
  </div>

  <div class="pagination">
    <a href="#">&laquo; previous</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">next &raquo;</a>
  </div>
  
</body>
</html>
